<div class="container mt-4">
  <h1>Blog Articles</h1>
  <p>A collection of articles covering Jekyll, HTML+CSS, JavaScript and more.</p>
  <%= render 'article' %>
  <div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>
