<div class="container" id="home-container">
  <div class="jumbotron">
    <h1 class="display-4">Gus.dev</h1>
    <p class="lead">Let's build cool shit.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to "Sign-up!", signup_path, class: "btn btn-primary btn-lg" %>
  </div>
  <div class="card text-center">
    <div class="card-header">
      Featured Article
    </div>
    <div class="card mb-3">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= link_to Article.last.title, Article.last %></h5>
        <p class="card-text"><%= Article.last.description %></p>
        <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(Article.last.created_at) %> ago</small></p>
      </div>
    </div>
  </div>
</div>



