@import 'bootstrap/dist/css/bootstrap';

$custom-accent-color: #21c700;

@mixin transition {
  transition: 0.2s all;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#body {
  margin: 0;
}

a {
  color: $custom-accent-color;
  @include transition;
  &:hover {
    text-decoration: none;
    color: darken($custom-accent-color, 20);
    @include transition;
  }
}

img {
  max-width: 100%;
}

p,
a,
span,
input,
ol,
ul,
li,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
#logo {
  font-family: 'Allerta Stencil', sans-serif;
  color: $custom-accent-color;
}
html,
body {
  height: 100%;
  background-color: #222;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#home-container {
  margin-top: 30px;
}


// Heading styles
.jumbotron {
  background-image: asset-url('FULLRES-EONCOPYRIGHT-Capture-One-Catalog1180.jpg');
  background-position: center;
  background-size: cover;
}

// Pagination styles
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: black;
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

// Cover image
.img-h-md {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
.img-h-sm {
  height: 250px;
  width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.card {
  border: none;
  overflow: hidden;
}